---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Обо мне"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('June 30 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Привет, друзья!
		Сегодня я хочу поделиться своей историей, которая сочетает в себе мою страсть к музыке и любовь к программированию.
		Меня зовут Миша, и я - яркий пример того, как настойчивость и целеустремленность могут превратить мечты в реальность.
	</p>
</Layout>
