---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { YukkitorieBlog, vojtivit } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={YukkitorieBlog} description={vojtivit} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Помогите, я схожу с ума</h1>
			<h1>Помогите, я схожу с ума</h1>
			<h1>Помогите, я схожу с ума</h1>
			<h1>Помогите, я схожу с ума</h1>
			<h1>Помогите, я схожу с ума</h1>
			<h1>Помогите, я схожу с ума</h1>
			<h1>Помогите, я схожу с ума</h1>
			<p>
				метоксихлор<wbr>диэтиламино<wbr>метил<wbr>бутил<wbr>амино<wbr>акридин
			</p>			  
			<p>
				Я буду использовать его для того что бы учится использовать JS и библеотеки для него
			</p>
			<p>Надеюсь я не ебнусь</p>
			<ul>
		</main>
		<Footer />
	</body>
</html>

<style>
	main{
		color:rgba(160, 21, 209, 0.77);
		background: linear-gradient(145deg, #ff74c8 0%, #7fdefc 100%);
	}
	h1:hover{
		color: rgb(255, 0, 0);
		text-decoration: underline;
		text-decoration-color: black;
		cursor: pointer;
	}
	h1:active{
		color: aqua;
		
	}	 
</style>